<ion-app>
  <ion-router-outlet></ion-router-outlet>

  <ion-menu side="start" menuId="first" contentId="main">

    <ion-content padding>
      <ion-img [src]="iconImg"></ion-img>
      <ion-list style="background-color: #ffffff;">
        <ion-item href="https://radiotalky.com/about/">
          About Us</ion-item>
        <ion-item href="https://radiotalky.com/our-rjs/">
          Voice Behind</ion-item>
        <ion-item  href="https://radiotalky.com/contacts/">
          Advertise</ion-item>
      </ion-list>

      <div style="position: absolute; bottom: 2%; width: 100%;">
        <div class="line"></div>

        <div class="underline"><u>Contact Us</u></div>
        
        <div class="contactUs">
          +91 95679 52679<br>
          contact@radiotalky.com
        </div>
      </div>
      
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>

</ion-app>
